
body, html {
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;

}

.parallax {
    position: relative;
    /*opacity: 0.65;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption div.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: "Lato", sans-serif;
    font-size: 20px;
    color: #111;
}

.img-1 {
    background-image: url("materials/Background.png");
}

.img-2 {
    background-image: url("materials/Background.png");
}

.img-3 {
    background-image: url("images/mockingjaydress.jpeg");
}

.img-4 {
    background-image: url("images/katnisskillscoin.jpeg");
}

.img-5 {
    background-image: url("images/final_victory.jpeg");
}

.explanation {
    background-color: white;
    text-align: center;
    padding: 50px 80px;
}